/* h1{
    background-color: blue;
    color: white;
} */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 

/* h1{
    font-size: 100px;
    font-family: 'Times New Roman';
    font-weight: 900;
    font-style: oblique;
     font: 100 'Times New Roman' italic 10 
    text-shadow: 10px 10px 10px red;
}

p{
    font-size:30px;
    line-height: 1.4;
    /* text-indent: 5%; 
    letter-spacing: 5px;
    text-indent: 500px; 

}

a{
    text-decoration: none;
    color: #777;
    background-color: mediumseagreen;
} */

/*! % rem px em vh vw */

/* .image{
    height:500px;
    width:500px;
} */

/* .container{
    /*  viewPort height  */
    /* height:100vh; */
    /* viewport width */
    /* width: 50vw; */
    /* background-color: dodgerblue; */
    /* height:100vh;
    width:50vw;
    background-color: dodgerblue; */
/* }  */

/* .image{
    height:50%;
    width:50%;
} */



/* 1rem --> 16px */
/* 
html{
    font-size: 62.5%;
}

p{
    font-size:3rem;
} */