
/*! Variables in css */

:root{
    --primary-color: yellow;
    --secondary-color:#3333ff;
    --primary-font-color: #fff;
    --secondary-font-color: #666;
}

/*! Colors --> inbuilt , hex, hsla() , rgb()  rgba() */


/*& red green blue */

/* div{
     height:95vh;
}

.container{
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background: radial-gradient(green,white,crimson); */
    /* background-color: blue; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.767)), url(bg-image.jpg); */
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
/* } */

/* .main{
    /* background-color: var(--secondary-color); */
    /* background-color: rgb(0,0,255); */
    /* background-color: #ff0000; */

    /* background-color:mediumseagreen; */

    /* background-color: rgba(255,0,0,0.6); */

    /* background-color: hsl(0, 100%, 50%); */
/* } */ */

/* .footer{
    background-color:var(--primary-color);
}  */